<div id="create-message">
  <%= simple_form_for [ chat_room, message ], remote: true do |f| %>
    <%= f.input :text, label: false, placeholder: 'e.g. "see you there in 10!" ' %>
    <%#= f.submit %>
  <% end %>
</div>
