<div class="body-wrapper">
<h3>Below are your upcoming meetings. Enjoy!</h3>

<div class="container">
  <% @meetings.reverse.each do |meeting| %>
  <div class="meeting_details_card">



        <ul>
        <li>Placeholder: Listing owner image here</li>
        <li>Listing owner first_name: <%= meeting.listing.user.first_name %></li>

        <!--
        Later:
        if meeting.participants.present?
         <- .first because participants will be an array
        -->

        <br>
        <li>Placeholder: Participant image here</li>
        <li>Participant first_name: <%= meeting.participants.first.user.first_name %></li>

        <br>
        <li>Activity: <%= meeting.listing.activity %></li>
        <li>Offered_datetime_text: <%= meeting.listing.offered_datetime_text %></li>
        </ul>
      </div>

  <% end %>

</div>
</div>
