.background {
  display: flex;
  flex-direction: column;
}

.welcome {
    margin-top: 100px;
    color: gray;
    text-align: center;
    margin-bottom: 40px;
  h1 {
    margin-top: 30px;
    font-size: 30px;
  };
  h2 {
    margin-top: 20px;
    font-size: 20px;
  };
}
.sign-in {
  padding: 15px;
  background-color: #DA3E52;
  color: white;
  text-align: center;
}


.facebook-button-section {
  position: fixed;
  bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

.scroll-section {
  position: fixed;
  bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 100%;}

.facebook-sign-in-button {
  width: 100%;
}


.sticky-bottom {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

.sticky-top {
  position: fixed;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 100%;
}


.sticky-bottom-palceholder {
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

.sticky-top-palceholder {
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 100%;
}






.scroll-button {
  color: rgba(0, 0, 0, 0.19);
}


.myhidden {
  visibility: hidden;
}


.content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 100%;
}

.emoji {
  font-size: 50px;
  margin: 0vh 3vh;
}

.text-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-row-reverse {
  flex-direction: row-reverse;
}



