.background {
  height: 150vw;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.welcome {
    margin-top: 40px;
    color: gray;
    text-align: center;
  h1 {
    margin-top: 30px;
    font-size: 30px;
  };
  h2 {
    margin-top: 20px;
    font-size: 20px;
  };
}
.sign-in {
  padding: 15px;
  background-color: #DA3E52;
  color: white;
  text-align: center;
  a {
    color: white;
  }
}

.sign-in-home {
  margin: 60px;
}
