.index-wrapper {
  height: 100vh;
}

.top-wrapper {
  background-color: #DA3E52;
}

.row-positioning {
  // display: flex;
  // flex-wrap: wrap;
  margin: 0 auto;
}

.row-styling {
  padding: 10px;
  height: 100px;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
}

