
<% content_for :navbar_title do %>
Meet friends, be happy
<% end %>


<% content_for :head do %>
<meta name="turbolinks-cache-control" content="no-cache">
<% end %>


<div id="fullpage">

  <div class="section section-log-in">
    <div class="background">
      <div class="welcome">
        <h1>Welcome to gotTime?</h1>
        <h2>Meet your friends spontaneously!</h2>
      </div>

    </div>
  </div>
  <div class="section section-quick-description">




    <div class="content">
      <div class="spacer-top sticky-top">

      </div>
      <div class="text-row">
        <div class="emoji emoji-left">
          🤷
        </div>
        <div class="text-right">
          Don't know what to do?
        </div>
      </div>
      <div class="text-row text-row-reverse">
        <div class="emoji emoji-right">
          🙌
        </div>
        <div class="text-left">
          Add your plan or like a friend's
        </div>
      </div>
      <div class="text-row">
        <div class="emoji emoji-left">
          🎉
        </div>
        <div class="text-right">
          Have fun!
        </div>
      </div>
      <div class="spacer-bottom sticky-bottom">

      </div>
    </div>

  </div>

  <div class="section section-some-section3">
  </div>

  <div class="section section-some-section4">
  </div>

</div>


<div class="sticky-top">
  <div class="scroll-button" id="test">
    <i class="fa fa-chevron-up fa-2x hidden-arrow arrow" id="arrow_up"></i>
  </div>
</div>

<div class="sticky-bottom">
  <div class="facebook-button">
    <% unless current_user %>
    <%= link_to raw('<div class="sign-in facebook-sign-in-button">Sign in with Facebook</div>'), user_facebook_omniauth_authorize_path %>
    <% else %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
  <div class="scroll-button" id="test">
    <i class="fa fa-chevron-down fa-2x arrow" id="arrow_down"></i>
  </div>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#fullpage').fullpage({
        navigation: false,
        navigationPosition: 'right',
        sectionsColor: ['#f2f2f2', 'whitesmoke', '#7BAABE', 'whitesmoke', '#000'],
        anchors:['firstPage', 'secondPage', 'thirdPage', 'fourthPage'],
        onLeave: function(index, nextIndex, direction){
          var leavingSection = $(this);
        if(index == 1 && direction =='down'){
          $('#arrow_up').toggleClass('hidden-arrow');
        console.log("hi");
        }
        if(index == 3 && direction =='down'){
          $('#arrow_down').toggleClass('hidden-arrow');
        }

        else if(index == 4 && direction == 'up'){
          $('#arrow_down').toggleClass('hidden-arrow');
        }
        else if(index == 2 && direction == 'up'){
          $('#arrow_up').toggleClass('hidden-arrow');
        }

      }
    });

    });



    $(document).ready(function(){
      $('#arrow_up').click(function(){
        $.fn.fullpage.moveSectionUp();
      });
      $('#arrow_down').click(function(){
        $.fn.fullpage.moveSectionDown();
      });
    });



  <% end %>
<% end %>

