.match-body-wrapper{
  // Encompasses everything on page, incl. messages
  width: 300px;
  margin: 0px auto;
  // iphone 6 is 375px, so the above 2 lines give 37.5px margin either side but also works on desktop
  margin-top: 75px;
}

.match-info {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}

.avatar-lg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  flex: 0 0 auto;
  padding: 2px;
}

// .match-summary {
//   display: flex;
//   align-items: center;
//   padding-left: 10px;
//   justify-content: center;
// }

.match-emoji {
  font-size: 50px;
  padding: 10px;
}

.match-timetext {
  font-size: 25px;
  padding: 10px;
}

.chat-header {
  padding: 0px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left !important;
  h4 {
    margin: 0;
  }
}

