.plan-card-fixed {
  position: fixed;
  top: 50px;
  width: 100%;
  background: white;
  z-index: 1000

}

.plan-card-flex {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  margin-top: -10px;
  margin-bottom: 10px;
  a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
  a:active {
    color: black;
    text-decoration: none;
  }
}

.plan-card-info {
  margin: 15px 10px 5px 10px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.plan-card-emoji-round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.plan-card-emoji {
  font-size: 30px;
  margin: 0
}
.plan-card-datetime{
}

// .current-user-plan-card {
//   background-color: white;
// }

.plan-text-centered {
  text-align: left;
  h2 {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
  }
}

.plan-text-centered-body {
  text-align: left;
  h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: lighter;
  }
}
