.scroller {
  div {
    text-align: center;
    font-size: 50px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: -5px;
}

.slick-prev {
  left: -5px;
}


.activity_selector {
  font-size: 50px;
}

.slick-track {
  text-align: center;

}

.slick-center {
  background-color: rgba(255, 255, 255, 0.54);
}
