.show-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  .show-card-info{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 10px 0px 10px 0px;
  }
  .show-card-user{
  }
  .show-card-image{
    width: 120px;
    border-radius: 50%
  }
  .show-card-time {
    text-align: center;
    margin: 10px 10px 0px 10px;

  }
  .show-card-activity {
    text-align: center;
    margin: 10px 10px 0px 10px;
  }
  .show-card-link {
  }
  .show-card-button {
    background-color: #DA3E52;
    border: none;
    border-radius: 0.25em;
    width: 200px;
    color: white;
    margin: 0px 10px 0px 10px;
  }
  .show-card-button:active {
    background-color: #DA3E52;
    text-decoration: none;
  }
  .show-card-button:hover {
    background-color: #DA3E52;
    text-decoration: none;
  }

}
