.body-wrapper{
  margin-top: 25px;
}

.margin-own-plan-offset {
  margin-top: 0px;
}

.add-plan-wrapper {
  height: 80vh;
}

// #render-plan > #plan-detail > .body-wrapper > .show-card-position > .show-card {
//   height: calc(100vh - 160px);
// }

// #standard-wrapper > #plan-detail > .body-wrapper > .show-card-position > .show-card {
//   height: calc(100vh - 50px);
// }




